@font-face {
    src: url(https://code.s3.yandex.net/web-code/fonts/SuisseIntl-Book.woff);
    font-family: 'Suisse';
    font-weight: normal;
  }
  
  @font-face {
    src: url(https://code.s3.yandex.net/web-code/fonts/SuisseIntl-Bold.woff
  );
    font-family: 'Suisse';
    font-weight: bold;
  }
  
  html {
    height: 100%;
    margin: 0;
    -webkit-font-smoothing: antialiased;
  }

  .body {
    /*background-color: #ef6969;
    color: white;
    position: relative;
    max-width: 100%;
    min-height: 100%;
    margin: 0 auto;
    font-family: 'Suisse';
    box-sizing: border-box;
    padding: 36px;*/
    /*background-image: url(https://downloader.disk.yandex.ru/preview/b1a0b7c8a6baaa0338747f6fd7fa52530e0dca5bb1f833d2e852d82a38adbc79/695ac69d/Xod_Qu8gpQf_b_45UYJKMJ5O7jYxidwxm9BUMdBzumHTkXrK6FsLe4Y6vS8jLjh6IAPI8TefQ3VlIaY_KUaP0Q%3D%3D?uid=0&filename=%D0%91%D0%B5%D1%80%D0%B5%D0%B3%20%D0%BC%D0%BE%D1%80%D1%8F%20-%20640x428.jpg&disposition=inline&hash=&limit=0&content_type=image%2Fjpeg&owner_uid=0&tknv=v3&size=2048x2048);
    */
    background-color: #ef6969;
    color: rgb(79, 82, 250);
    font-family: 'Suisse';
    background-repeat:no-repeat;
    background-size:cover;
}

.header {
    display: flex;
    margin: auto;
    height: 100vw;
}

.logo {
    margin: auto;
}

.button {
    background-color: rgba(255, 255, 255, 0.4);
    margin: auto;
    width: 130px;
    height: 40px;
    padding-top: 10px;
    box-sizing: border-box;
    border: 1px solid white;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    transition: opacity 0.2s;
}

.phrase {
    background-color: rgba(255, 255, 255, 0.4);
    display: none;
}

.advice {
    margin: auto;
}