@font-face {
    src: url(https://code.s3.yandex.net/web-code/fonts/SuisseIntl-Book.woff);
    font-family: 'Suisse';
    font-weight: normal;
  }
  
  @font-face {
    src: url(https://code.s3.yandex.net/web-code/fonts/SuisseIntl-Bold.woff
  );
    font-family: 'Suisse';
    font-weight: bold;
  }
  
  html {
    -webkit-font-smoothing: antialiased;
  }

  .body {
    margin: 0;
    color: white;
    position: relative;
    /*max-width: 100vw;
    min-height: 100vh;*/
    font-family: 'Suisse';
    box-sizing: border-box;
    /*background-image: url(https://www.perfectstock.ru/files/preview/1280x854/1b1793fb8d95a9b145f379cbe45a9949-l-21583943527x5jlislokb0xxbibmndwaajah41xovcraylqbjclixc1vd9t0bmfmbm96cat9h2cfchrjmh2arbc84xcpkt95we3igaxzmgkpxdz.jpg?size=medium);
    */
    /*background-color: #ef6969;*/
    color: rgb(79, 82, 250);
    font-family: 'Suisse';
    background-repeat:no-repeat;
    background-position: center;
    background-size:cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.header {
    display: flex;
    
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 0;
}


.button {
    background-color: rgba(255, 255, 255, 0.4);
    margin: auto;
    width: 130px;
    height: 40px;
    padding-top: 10px;
    box-sizing: border-box;
    border: 1px solid white;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    transition: opacity 0.2s;
}

.phrase {
    /*background-color: rgba(255, 255, 255, 0.2);*/
    /*display: none;*/
    color: rgb(51, 48, 48);
    margin: auto;
    text-align: center;
}

.advice {
    margin: auto;
    width: 50%;
    display: none;
    
}